<% provide(:title, 'トップページ') %>
<div class="page-title">
    <h2>NEWS</h2>
</div>
<div class="top-page">
    <dl>
        <div class="news-contents">
            <dt>
                <p>2021.3.2</p>
            </dt>
            <a href="#" class="commodity">
                Lagis
            </a>
            <dd>開発を開始しました。</dd>
        </div>
        <div class="news-contents">
            <dt>
                <p>2021.4.22</p>
            </dt>
            <a href="#" class="commodity">
                Lagis
            </a>
            <dd>リリースしました！</dd>
        </div>
        <div class="news-contents">
            <dt>
                <p>2021.5.3</p>
            </dt>
            <a href="#" class="news-default">
                APP
            </a>
            <dd>バグを修正しました。</dd>
        </div>
        <div class="news-contents">
            <dt>
                <p>2021.5.4</p>
            </dt>
            <a href="#" class="other">
                other
            </a>
            <dd>5/5 23:00からアップデートの為、ご利用できません。</dd>
        </div>
    </dl>
</div>