<h2><%= "#{@user.name}さん" %></h2>
<h2>以下のリンクからパスワードの再設定を行ってください。</h2>
<p><%= @user.email %></p>
<p>
  <%= link_to 'アカウント有効化のリンク', edit_password_reset_url(@user.password_reset_token, @user.email) %>
</p>
<p>Lagis卒論インデックス</p>