<% provide(:title, 'react_test') %>
<%= react_component("Article", url: "/react_test" ) %>
<div id="react_article"></div>
<%= javascript_pack_tag 'react_article',
                        'data-turbolinks-track': 'reload' %>