<% provide(:title, '論文詳細') %>
<% provide(:user, "#{current_user.name}さん") %>
<div>
	<h2 class="contents">
		<%= @article.title %>
	</h2>
	<h4 class="contents"><%= @article.author %></h4>
	<h4 class="contents"><%= @article.year %></h4>
	<p class="contents"><%= @article.abstract %></p>
</div>