@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin: 0 auto;
    width: 1200px;
}

li {
    list-style: none;
}

header {
    text-align: center;
    height: 400px;
    background-image: url(images01.jpg);
    background-size: cover;
    opacity: 0.6;
}

header {
    border: 0.5px solid;
}

header h1 {
    background-color: linen;
    margin-top: 30px;
    width: 60%;
    display: inline-block;
    border: solid;
    font-size: 50px;
    padding: 1em;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.all-wrapper {
    display: flex;
}

main {
    flex: 6;
    // border: 0.5px solid;
}

main div.elements {
    border-bottom: 0.5px solid gray;
}

.top-page {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

.form {
    padding: 20px 0px;
    margin: 0 auto;
    width: 70%;
}

.page-title h2{
    text-align: center;
    padding: 5px 5px;
}

.search {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

.search-button {
    padding: 20px 0px;
}

.form-select {
    padding-left: 80px;
}

nav {
    flex: 1;
    text-align: center;
    font-size: 15px;
    // border: 0.5px solid;
}

// .nav-item {
//     margin: 0 auto;
// }

nav a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    // background-color: dimgray;
    // color: white;
    border: 0.05px solid;
    // border-color: gray;
    opacity: 0.7;
}

.nav-hover:hover {
    color: white;
}

.nav-link {
    background-color: gray;
    color: white;
}

.nav-top {
    color: black;
}

.nav-user {
    background-color: rgb(50, 209, 50);
    color: white;
}

.nav-login {
    background-color: rgb(53, 162, 199);
    color: white;
}

.nav-logout {
    background-color: rgb(214, 134, 132);
    color: white;
}

.edit-destroy {
    // float: left;
    padding: 10px 0px;
}

.link {
    height: 400px;
}

.url {
    padding: 20px 20px;
}

.url legend {
    font-size: 30px;
}

.url li {
    padding: 3px 15px;
    list-style-type: circle;
    font-size: 15px;
}

.user-show {
    text-align: center;
    padding: 0px 10px;
}

.contents {
    padding: 20px;
}

.content {
    padding-left: 20px;
    float: left;
}

.content-start {
    padding-left: 20px;
    float: left;
}

.content-end { 
    padding: 0px 20px;
    float: left;
}

.abstract {
    padding: 60px 20px 20px 20px;
}

.login {
    margin: 0;
    background-color: gray;
    color: white;
    padding: 20px 10px;
}

footer {
    // float: left;
    border-top: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

footer li {
    float: right;
    padding-left: 10px;
}

footer a {
    color: gray;
}

// .pagination {
//     // padding: 0px 20px;
//     // text-align: center;
//     // margin: 0 auto;
//     width: 80%;
// }

.img-rounded {
    // border: solid 0.5px gray;
    margin-right: 10px;
}

.filestyle {
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    nav {
        font-size: 8px;
    }

    header h1 {
        font-size: 35px;
    }
}


@import url(https://fonts.googleapis.com/css?family=Bangers);

.bubble {
    position: relative;
}

.bubble.two {
    margin: 0 auto 0;
    right: -200px;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: hsla(230, 70%, 55%, 1);
    box-shadow: 40px 0 0 hsla(230, 70%, 55%, 1), 80px 0 0 hsla(230, 70%, 55%, 1), 120px 0 0 hsla(230, 70%, 55%, 1);
}

.bubble.two:before {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-radius: 10px;
    top: 60px;
    left: 20px;
    background: hsla(230, 70%, 55%, 1);
}

.bubble.two:after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-radius: 5px;
    top: 80px;
    left: 20px;
    background: hsla(230, 70%, 55%, 1);
}

.bubble.two p {
    position: absolute;
    top: 17px;
    left: 20px;
    width: 225px;
    color: white;
    font-size: 1.8em;
    text-align: left;
}

.news-contents {
    display: flex;
    height: 35px;
    border-bottom:1px solid gray;
}

.news-contents dt {
    flex: 1.5;
}

.news-contents a {
    flex: 0.7;
    text-align: center;
    margin: 3px;
}

.news-contents dd{
    flex: 7.8;
}

.top-page dl{
    padding-top: 10px;
    margin: 0 auto;
    width: 80%;
}

.top-page dt {
    // border-bottom:1px solid #ccc;
    float:left;
    padding:10px 5px;
}

.top-page dd {
    // border-bottom:1px solid #ccc;
    // margin-left:100px;
    padding:10px 5px;
}

.commodity {
    background-color:rgb(53, 162, 199);
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
}

.news-default {
    background-color:rgb(214, 134, 132);
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
}