<header>
    <%= render 'layouts/flash' %>
    <div class="title">
        <div class="bubble two">
            <p><%= yield(:title) %></p>
        </div>
        <h1>Lagis卒論インデックス</h1>      
    </div>
</header>