<header>
    <%= render 'layouts/flash' %>
    <div class="title">
        <div class="bubble two">
            <p><%= yield(:title) %></p>
        </div>
        <h1><%= link_to 'Lagis卒論インデックス', root_path, class: "nav-top" %></h1>      
    </div>
</header>