<div class="link url">
  <fieldset>
    <legend>
      LINK
    </legend>
    <ul>
      <li><a href="https://www.tmu.ac.jp/">東京都立大学HP</a></li>
        <li><a href="https://www.ues.tmu.ac.jp/geog/">地理環境</a></li>
        <li><a href="https://kibaco.tmu.ac.jp/portal">kibaco</a></li>
        <li><a href="https://jjh.tmu.ac.jp/campusweb/campusportal.do?locale=ja_JP">campus square</a></li>
        <li><a href="https://www.lib.tmu.ac.jp/">東京都立大学図書館HP</a></li>
        <li><a href="">学生ポータル</a></li>
        <li><a href="https://www.ues.tmu.ac.jp/index.html">都市環境学部　都市環境科学研究科</a></li>
    </ul>
  </fieldset>
</div>